.switch {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 3rem;
  height: 1.6rem;
  background: grey;
  padding: 0.3rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 .2rem black inset;

  .switch-dot {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 .3rem black;
  }

  &.active {
    justify-content: end;
    background: var(--primary);
  }
}
