[data-theme="dark"] {
  --background: radial-gradient(#131a22, #1e2936);
  --text: #eeeeee;
  --header-text: #bcc9d5;
  --subheader-text: #85a4c0;

  --button: #bcc9d5;
  --button-hover: #85a4c0;
  --button-text: #000000;
}
