.header {
  position: absolute;
  max-width: 95%;
  top: 35%;
  left: 20%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  .header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    white-space: nowrap;
    .logo-wrapper {
      height: 100%;
      img {
        height: 4rem;
      }
    }
    .header-title-text {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 0;
      .h1 {
        color: var(--header-text);
      }
      .h2 {
        color: var(--subheader-text);
      }
    }
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    .h3 {
      color: var(--text);
      font-size: 1.8rem;
    }

    .header-content-links {
      display: flex;
      justify-content: flex-start;
      gap: 2rem;

      a {
        padding: 0.5rem 0.8rem;
        background: var(--button);
        border-radius: 0.5rem;
        color: var(--button-text);

        &:hover {
          background: var(--button-hover);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    top: 20%;
    left: 5%;
    right: 5%;
    .header-title {
      .h1 {
        font-size: 7vw;
      }
      .h2 {
        font-size: 5.8vw;
      }
      .logo-wrapper {
        img {
          height: 11vw;
        }
      }
    }

    .header-content {
      .h3 {
        font-size: 5vw;
      }
      .header-content-links {
        width: 100%;
        a {
          padding: 1rem 1.2rem;
          font-size: 1.6rem;
        }
      }
    }
  }
}
