.header {
  position: absolute;
  max-width: 95%;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  .header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    white-space: nowrap;
    .logo-wrapper {
      height: 100%;
      img {
        height: 4rem;
      }
    }
    .header-title-text {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 0;
      .h1 {
        color: var(--header-text);
      }
      .h2 {
        color: var(--subheader-text);
      }
    }
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    h2 {
      color: var(--text);
    }

    .header-content-links {
      display: flex;
      justify-content: flex-start;
      gap: 2rem;

      a {
        padding: 0.5rem 0.8rem;
        background: var(--button);
        border-radius: 0.5rem;
        color: var(--button-text);

        &:hover {
          background: var(--button-hover);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    .header-content-links {
      justify-content: center;
    }
  }
}
